{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-9">
          <figure>
            <blockquote class="blockquote">
              <p>
                <h1>
                  {{ profile.user.username }}'s Profile
                  {% if profile == request.user.profile %}
                  <a href="{% url 'update_user' %}" class="btn btn-sm btn-secondary">Update</a>
                  {% endif %}
                </h1>
              </p>
            </blockquote>
            <figcaption class="blockquote-footer">
              {% if profile in request.user.profile.followed_by.all and profile != request.user.profile %}
              <small>Follows You</small><br>
              {% endif %}
            </figcaption>
          </figure>
            {% if tweets %}
            {% for tweet in tweets %}
                <div class="card mb-3">
                    <div class="card-body">
                    <h5 class="card-title">{{ tweet.user }}</h5>
                    <p class="card-text">{{ tweet.body }}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">{{ tweet.created_at }} By
                        <a href="{% url 'profile' tweet.user.id %}">@{{ tweet.user.username|lower }}</a>
                         - {{ tweet.number_of_likes }} Like{{ tweet.number_of_likes|pluralize }} - 
                        {% if user in tweet.likes.all %}
                        <a href="{% url 'tweet_like' tweet.id %}"><i class="fa-solid fa-heart" style="color:red"></i></a>
                        {% else %}
                        <a href="{% url 'tweet_like' tweet.id %}"><i class="fa fa-heart-o" style="color:red"></i></a>
                        {% endif %}
                        &nbsp;
                        <a href="{% url 'tweet_info' tweet.id %}"><i class="fa fa-eye" style="color:grey"></i></a>
                        {% if request.user == tweet.user %}
                        &nbsp;
                        <a href="{% url 'tweet_delete' tweet.id %}"><i class="fas fa-trash-alt" style="color:grey"></i></a>
                        {% endif %}
                        </small>
                    </p>
                    </div>
                </div>
            {% endfor %}
            {% else %}
              <div class="alert alert-warning text-center" role="alert">
                No tweets available!!!
              </div>
            {% endif %}
        </div>
        <div class="col-3">
          <br><br><br>
              <div class="text-center">
                {% if profile.profile_image %}
                <img src="{{ profile.profile_image.url }}" class="rounded-circle" width="200px" height="200px">
                <br><br>
                {% endif %}
              </div>
              <div class="card">
                <div class="card-header">
                  Follows
                </div>
                <div class="card-body">
                    {% for following in profile.follows.all %}
                    {% if following == profile %}
                    {% else %}
                        <p class="card-text"><a href="{% url 'profile' following.user.id %}">@{{ following }}</a></p>
                    {% endif %}
                    {% endfor %}
                </div>
              </div>
              <br>
              <div class="card">
                <div class="card-header">
                  Followers
                </div>
                <div class="card-body">
                    {% for following in profile.followed_by.all %}
                    {% if following == profile %}
                    {% else %}
                        <p class="card-text"><a href="{% url 'profile' following.user.id %}">@{{ following }}</a></p>
                    {% endif %}
                    {% endfor %}
                </div>
              </div>
              <br>
              <form method="POST">
                {% csrf_token %}
                {% if profile != user.profile %}
                  {% if profile in user.profile.follows.all %}
                      <button class="btn btn-outline-secondary" name="follow" value="unfollow" type="submit">Unfollow</button>
                  {% else %}
                      <button class="btn btn-outline-primary" name="follow" value="follow" type="submit">Follow</button>
                  {% endif %}
                {% endif %}
              </form>
        </div>
    </div>
</div>

{% endblock %}