{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-9">
            {% if tweet %}
                <div class="card mb-3">
                    <div class="card-body">
                    <h5 class="card-title">{{ tweet.user }}</h5>
                    <p class="card-text">{{ tweet.body }}</p>
                    <p class="card-text">
                        <small class="text-body-secondary">{{ tweet.created_at }} By
                        <a href="{% url 'profile' tweet.user.id %}">@{{ tweet.user.username|lower }}</a>
                         - {{ tweet.number_of_likes }} Like{{ tweet.number_of_likes|pluralize }} - 
                        {% if user in tweet.likes.all %}
                        <a href="{% url 'tweet_like' tweet.id %}"><i class="fa-solid fa-heart" style="color:red"></i></a>
                        {% else %}
                        <a href="{% url 'tweet_like' tweet.id %}"><i class="fa fa-heart-o" style="color:red"></i></a>
                        {% endif %}
                        </small>
                    </p>
                    </div>
                </div>
            {% endif %}
            {% if comments %}
            {% for comment in comments %}
                <div class="alert alert-secondary" role="alert">
                    {{ comment.body }}
                    <br>
                    <small class="text-muted">
                        {{ comment.created_at }} By <a href="{% url 'profile' tweet.user.id %}">@{{ comment.user.username|lower }}</a>
                        - {{ comment.number_of_likes }} Like{{ comment.number_of_likes|pluralize }} - 
                        {% if user in comment.likes.all %}
                        <a href="{% url 'comment_like' comment.id %}"><i class="fa-solid fa-heart" style="color:red"></i></a>
                        {% else %}
                        <a href="{% url 'comment_like' comment.id %}"><i class="fa fa-heart-o" style="color:red"></i></a>
                        {% endif %}
                        {% if request.user == comment.user %}
                        &nbsp;
                        <a href="{% url 'comment_delete' comment.id %}"><i class="fas fa-trash-alt" style="color:grey"></i></a>
                        {% endif %}
                    </small>
                </div>
            {% endfor %}
            {% else %}
              <div class="alert alert-warning text-center" role="alert">
                No comments available!!!
              </div>
            {% endif %}
        </div>
        <div class="col-3">
            {% if form %}
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-secondary">Comment</button>
            </form>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}